.tw-folowCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-size: .8rem;
}
.tw-folowCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}
.tw-folowCard-info {
    display: flex;
    flex-direction: column;
}
.tw-folowCard-infoUser {
    opacity: .6;
}
.tw-folowCard-img{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}
.tw-folowCard-button {
    cursor:pointer;
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    transition: .3s ease background;
}
.tw-folowCard-button:hover {
    background: #67a5ed;

}
.tw-folowCard-button.is-followind {
    border: 1px solid red;
    background: transparent;
    color: red;
}
.tw-folowCard-button.is-followind:hover {
    background: red;
    color: black;
}